################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Console Application/DemoConsoleApplication/.vs/DemoConsoleApplication.slnx/FileContentIndex
